<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">HOW IT WORKS</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">REQUEST ACCESS</a></li>
            <li><a href="#">SIGN IN</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img id="logo" src="../images/palantir_logo.png" />
        </div>
        <div class="col-md-6">
          <p class="company-description">The company raised $554.83 million of Series K venture funding from undisclosed investors as of October 21, 2015, putting the company's pre-money valuation at $19.65 billion.  Nema Capital and Aeon Funds also participated.</p>
        </div>
      </div>

      <div class="row table-labels">
        <div class="col-md-3">Industries</div>
        <div class="col-md-3">Notable Investors</div>
        <div class="col-md-2">Valuation</div>
        <div class="col-md-2">Total Funding</div>
        <div class="col-md-2">Year Founded</div>
      </div>

      <div class="row">
        <div class="col-md-3">
            <div class="info-item">Database Software</div>
            <div class="info-item">Big Data</div>
            <div class="info-item">SaaS</div>
        </div>

        <div class="col-md-3">
          <div class="info-item">137 Ventures</div>
          <div class="info-item">ARTIS Ventures</div>
          <div class="info-item">Benjamin Ling</div>
        </div>

        <div class="col-md-2 big-info">$19.65B</div>
        <div class="col-md-2 big-info">$200M</div>
        <div class="col-md-2 big-info">2004</div>
      </div>

      <div class="row button-row">
        <div class="col-md-6">
          <button class="my-button interest-button">I'M INTERESTED</button>
        </div>

        <div class="col-md-6">
          <button class="my-button question-button">ASK A QUESTION</button>
        </div>
      </div>

      <div class="row title-row">ABOUT</div>
      <div class="row line-row"><hr /></div>
      <div class="row">
        <div class="col-md-6"><p class="about-text">Developer of software application for integrating, visualizing, and analyzing information.  The company builds software platform that help human experts perform collaborative analysis of data at scale.  Its software is deployed at public institutions, private enterprises, and in the non-profit sector to address the challenges of responsibly making sense of complex and diverse data.</p></div>
        <div class="col-md-2">
          <strong>Business Status</strong>
          <br />
          <p class="subinfo">Generating Revenue</p>
          <br />
          <br />
          <strong>Growth Ratio</strong>
          <br />
          <p class="important-info">0.62%</p>
          <p class="subinfo">86th %tile</p>
        </div>
        <div class="col-md-2">
          <strong>Ownership Status</strong>
          <br />
          <p class="subinfo">Privately Held</p>
          <br />
          <br />
          <strong>Size Multiple</strong>
          <p class="important-info">63.8x</p>
          <p class="subinfo">96th %tile</p>
        </div>
        <div class="col-md-2">
          <strong>Location</strong>
          <br />
          <p class="subinfo">Palo Alto, California</p>
          <br />
          <br />
          <strong>Website</strong>
          <br />
          <p class="subinfo website"><a href="http://www.palantir.com">www.palantir.com</a></p>
        </div>
      </div>

      <div class="row title-row">LISTS</div>
      <div class="row line-row"><hr /></div>

      <div class="row list-titles">
        <div class="col-md-4">
          <strong>People</strong>
        </div>
        <div class="col-md-4">
          <strong>Investors</strong>
        </div>
        <div class="col-md-4">
          <strong>Acquisitions</strong>
        </div>
      </div>

      <div class="row list-info">
        <div class="col-md-4">
            <div class="people">Alexander Karp Ph.D</div>
            <div class="people">Joe Lonsdale</div>
            <div class="people">Stephen Cohen</div>
            <div class="people">Geoff Bellknap Ph.D</div>
            <div class="people">Y. Dan Rubinstein Ph.D</div>
        </div>

        <div class="col-md-4">
            <div class="people">Aeon Funds</div>
            <div class="people">Dover Madison Capital Management</div>
            <div class="people">Nima Capital</div>
            <div class="people">GSV Ventures</div>
            <div class="people">MicroVenture Marketplace</div>
        </div>

        <div class="col-md-4">
            <div class="people">FT Technologies</div>
            <div class="people">Propeller</div>
            <div class="people">Poptip</div>
            <div class="people">ARTIS Ventures</div>
            <div class="people">Voicegem</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="circles">&#9675; &#9675; &#9675;</p>
        </div>
      </div>
      <div class="row title-row">FUNDING HISTORY</div>
      <div class="row line-row"><hr /></div>

      <div class="row table-titles">
        <div class="col-md-4 lead-col">Title</div>
        <div class="col-md-2 mid-col">Series</div>
        <div class="col-md-2 mid-col">Funding</div>
        <div class="col-md-2 mid-col">Announced On</div>
        <div class="col-md-2 car-col"></div>
      </div>

      <div class="row grey-row">
        <div class="col-md-4 lead-col">Later Stage VC</div>
        <div class="col-md-2 mid-col">K</div>
        <div class="col-md-2 mid-col">$554.83M</div>
        <div class="col-md-2 mid-col">23-Jul-2015</div>
        <div class="col-md-2 car-col"><strong class="carrot">^</strong></div>
      </div>

      <div class="row white-row">
        <div class="col-md-4 lead-col">Later Stage VC</div>
        <div class="col-md-2 mid-col">J</div>
        <div class="col-md-2 mid-col">$400.00M</div>
        <div class="col-md-2 mid-col">26-Nov-2014</div>
        <div class="col-md-2 car-col"><strong class="carrot">^</strong></div>
      </div>

      <div class="row grey-row">
        <div class="col-md-4 lead-col">Later Stage VC</div>
        <div class="col-md-2 mid-col">I</div>
        <div class="col-md-2 mid-col">$635.71M</div>
        <div class="col-md-2 mid-col">03-Nov-2014</div>
        <div class="col-md-2 car-col"></div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="circles">&#9675; &#9675; &#9675;</p>
        </div>
      </div>
      <div class="row title-row">RECENT PRESS</div>
      <div class="row line-row"><hr /></div>

      <div class="row">
        <div class="col-md-4">
          <strong>Palantir Adds to Latest Equity Round</strong>
          <br />
          <p class="large-date">23-Oct-2015</p>
          <p class="press-subtitle">Palantir Technologies</p>
        </div>

        <div class="col-md-8">
          <p class="press-text">Palantir Technologies has added over $100 million to its most recent financing round according to an SEC filing, bringing its total to roughly $555 million.  The round values the company at over $20.2 billion.  Palantir's Big Data analytics tools are designed to integrate, manage, and secure any kind of data at a large scale.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <strong>Eyeing the Future, Palantir Raises $450M</strong>
          <br />
          <p class="large-date">27-Jul-2015</p>
          <p class="press-subtitle">Palantir Technologies</p>
        </div>

        <div class="col-md-8">
          <p class="press-text">According to an SEC filing, Palantir Technologies has raised $450 million in financing.  The company develops Big Data analytics tools designed to integrate, manage and secure any kind of data at a large scale.  </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <strong>Palantir Looking for $20B Valuation</strong>
          <br />
          <p class="large-date">25-Jun-2015</p>
          <p class="press-subtitle">Palantir Technologies</p>
        </div>

        <div class="col-md-8">
          <p class="press-text">Palantir Technologies is reportedly looking to raise $500 million in funding that would give it a valuation of around $20 billion.  The company, which received a $15 billion valuation in its most recent raise in November, is a Big Data startup developing solutions for government agencies, commercial enterprises, and nonprofit organizations, among other entities.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="circles">&#9675; &#9675; &#9675;</p>
        </div>
      </div>

      <div class="row button-row">
        <div class="col-md-6">
          <button class="my-button interest-button">I'M INTERESTED</button>
        </div>

        <div class="col-md-6">
          <button class="my-button question-button">ASK A QUESTION</button>
        </div>
      </div>
    </div>

    <div class="container footer">
      <div class="row">
        <div class="col-md-12 footer-logo"><img src="../images/marketx_logo.png" class="footer-logo-pic"/>MARKET X</div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="copyright">&#169; 2015 MarketX Inc.  All Rights Reserved.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="legalise">This site is operated by MarketX Inc. MarketX does not give investment, legal or tax advice. All securities listed herein are offered through North Capital Private Securities Corporation ("NCPS"), a registered broker-dealer, member FINRA/SIPC. MarketX has taken no steps to verify the adequacy, accuracy, or completeness of any information presented herein. By accessing this site and any pages thereof, you agree to be bound by the Terms of Use and Privacy Policy. Only Accredited Investors can invest in securities offerings posted on this website. All accredited investors using the MarketX platform must be verified as to their accredited status and must acknowledge and accept the high risks associated with investing in privately held companies and early-stage ventures. These risks include holding an investment for periods of many months or years with limited ability to resell, and the risk of losing your entire investment. You must have the ability to bear those risks. To the fullest extent permissible by law, neither MarketX nor any of its directors, officers, employees, representatives, affiliates or agents shall have any liability whatsoever arising out of any error or incompleteness of fact or opinion in the presentation or publication of the materials and communication herein.</p>
        </div>
      </div>
    </div>
  </body>
</html>
