@import "bootstrap-sprockets";
@import "bootstrap";

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.navbar {
  background: #000033;
  padding: 20px;
}

.navbar-nav > li > a {
  color: #ccc;
}

.table-labels {
  color: white;
  background: #bbb;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.info-item {
  text-align: center;
  margin-top: 13px;
  font-size: 15px;
}

.big-info {
  font-size: 28px;
  text-align: center;
  color: #444;
  padding-top: 36px;
  font-weight: 200;
}

#logo {
  width: 300px;
  margin-top: 50px;
  margin-left: 100px;
  float: right;
  margin-right: 25px;
}

.company-description {
  color: #333;
  padding-right: 129px;
  margin-top: 50px;
  line-height: 24px;
}

.my-button {
  color: white;
  border: none;
  border-radius: 8px;
  height: 95px;
  font-weight: 500;
  width: 360px;
  letter-spacing: 3px;
  font-size: 21px;
}
.interest-button {
  background-color: #4d194d;
  float: right;
}

.interest-button:hover {
  background: white;
  color: #4d194d;
  border: solid 2px #4d194d;
}
.button-row {
  margin-top: 90px;
  margin-bottom: 90px;
}
.question-button {
  background: #9fbfdf;
  float: left;
}

.question-button:hover {
  background: white;
  border: solid 2px #9fbfdf;
  color: #9fbfdf;
}

.title-row {
  color: #bbb;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 3px;
  padding-left: 20px;
  margin-top: 65px;
  margin-bottom: -10px;
}

.about-text {
  line-height: 24px;
  margin-left: -14px;
}
strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.subinfo {
  margin-top: 10px;
}

.subinfo a {
  text-decoration: underline;
}
.important-info {
  font-size: 28px;
  font-weight: 200;
  margin-top: 10px;
}

.list-titles {
  background: #bbb;
  color: white;
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-info {
  margin-left: 75px;
  padding-left: 70px;
  margin-right: 75px;
  margin-top: 10px;
}

.people {
  margin-bottom: 20px;
  font-size: 16px;
}

.circles {
  color: #bbb;
  text-align: center;
  font-size: 31px;
}
br {
  font-weight: 500;
}

.grey-row {
  background: #eee;
}

.grey-row, .white-row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.table-titles {
    background: #bbb;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.lead-col {
  width: 40%;
}

.mid-col {
  width: 17%;
}

.car-col {
  width: 5%;
  float: right;
}

.carrot {
  font-family: 'Lilita One', cursive;
  float: right;
}

.large-date {
  font-size: 28px;
  font-weight: 200;
  margin-top: 10px;
}

.press-subtitle {
  font-weight: 100;
  font-size: 20px;
  margin-top: 5px;
}

.press-text {
  font-size: 15px;
  line-height: 25px;
}

.footer {
  background: #000033;
  width: 100%;
  color: #888;
  text-align: center;
}

.legalise {
  font-size: 11px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  text-align: left;
  line-height: 15px;
}

.footer-logo {
  color: #ddd;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer-logo-pic {
  margin-right: 15px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
